body {
  background-color: #99d5fd;
  color: #fff;
}

.container {
  margin-top: 50px;
}

.form-control:focus {
  border-color: #99d5fd;
  /* White input field border on focus */
  box-shadow: none;
}

#to-do-app {
  margin-top: 30px !important;
}

.list-group-item {
  padding: 30px;
}